body
{
    background-color: $primary-color;
}
.xSmall
{
    @include text($font-xSmall,21px,$normal); 
}
.small
{
    @include text($font-small,28px,$normal);
}
.medium
{
    @include text($font-medium,29px,$normal);
}
.large
{
    @include text($font-large,30px,$normal);  
}
.xLarge
{
    @include text($font-xLarge,50px,$semi-bold);
}
h1, .drop-options
{
    color:$color-mid;
}
::placeholder
{
    color: $color-dGrey;
}
button
{
    color: $color-white;
}
.cyan-button
{
    background-color: $color-cyan;
}
.blue-button
{
    background-color: $color-blue;
}
.grey-button
{
    background-color: $color-lbGrey;
}
.input-field
{
    border:1px solid $color-lbGrey;
}
.blue-grey
{
    color:$color-bGrey;
}
.metal
{
    color: $color-metal;
}
.cyan
{
    color: $color-cyan;
}
.bGrey-three
{
    color:$color-bGrey-three;
}
.dark
{
    color:$color-mid;
}
.slate
{
    color: $color-slateGrey;
}
.darkGrey
{
    color:$color-darkGrey;
}
.checkboxes:checked
{
    background-color: yellow;
}
.input-check
{
    border:2px solid $color-blue;
}
.checkmark
{
    border: 1px solid $color-lbGrey;
}
.check-blue
{
    border: 1px solid $color-blue;
}
.checkboxes:checked ~ .checkmark {
    background-color: $color-white;
  }
  .checkmark::after
  {
    border: solid $color-blue;
  }
  ::-webkit-scrollbar-track {
    background: $color-lightGrey; 
  }
  ::-webkit-scrollbar-thumb {
    background: $color-bGrey; 
    border-radius:5px;
  }
  .white
  {
      background-color: $color-white;
  }
  %transparency
  {
    border-right:4px solid transparent;
    border-left:4px solid transparent;
  }
  .up
  {
      @extend %transparency;
      border-bottom:4px solid $color-metal;
  }
  .down
  {
      @extend %transparency;
      border-top:4px solid $color-metal;
  }