/*colors*/
$primary-color: #f9fafb;
$secondary-color: #f4f6f8;
$color-bGrey: #919eab;
$color-mid: #212b36;
$color-dGrey: #adadad;
$color-white: #ffffff;
$color-cyan: #4ad5f6;
$color-metal: #454f5b;
$color-lbGrey: #c4cdd5;
$color-blue: #23c0f5;
$color-bGrey-three: #8f9ea6;
$color-battle: #637381;
$color-slateGrey: #6a7c92;
$color-darkGrey: #47495a;
$color-lightGrey: #e7e7e7;
$color-pblue: #dfe3e8;
$color-aqua: #47c1bf;
$color-dblue: #007ace;
$color-green: #3cb865;
$color-red: #ed6347;
$color-lblue: #dbecf8;
$color-mblue: #00cfc0;
$color-iris: #5c6ac4;
$color-purple: #9c6ade;
$color-pink: #de6a93;

/*font size*/
$font-xSmall: 12px;
$font-xmSmall: 13px;
$font-small: 14px;
$font-medium: 15px;
$font-large: 18px;
$font-xLarge: 26px;
$font-xxLarge: 36px;

/*font weight */
$light: 300px;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

/*responsive*/
$medium: 992px;
$large: 1100px;
