.banner {
	height: 100vh;
}
.banner-wrapper {
	max-width: 520px;
	@include responsive(medium) {
		width: 60%;
	}
}
.form-group {
	& :first-child {
		@include margins(50px 10px 20px 0);
	}
	& input{
		@include paddings(13px 30px 13px 17px);
		border: 1px solid $color-lbGrey;
		border-radius: 3px;
	}
}
