footer {
	@include paddings( 58px 0 138px 0);
	background-color: $secondary-color;
	& ul:first-child {
		@include responsive(medium) {
			@include margins(0 0 0 7px);
			width: 200px;
		}
	}
	& ul:nth-child(2) {
		@include margins( 0 110px 0 115px);
		@include responsive(medium) {
			@include margins(0 0 0 3px);
			width: 100px;
		}
	}
	& ul:nth-child(3) {
		@include responsive(medium) {
			@include margins(0 0 0 3px);
			width: 100px;
			font-size: 10px;
		}
	}
	& ul:last-child {
		@include margins(0 0 0 130px);
		max-width: 362px;
		@include responsive(medium) {
			@include margins(0 0 0 5px);
			width: 200px;
		}
		@include responsive(large) {
			@include margins( 0 0 0 50px);
			width: 320px;
		}
	}
}
.heading-spacing {
	@include margins( 16px 0 0 0);
}
.phone {
	@include dimensions(14px, 14px);
	@include margins(0 8px 0 0);
}
.social {
	@include dimensions(33px, 33px);
	@include margins(17px 20px 73px 0);
}
.footer-logo {
	@include margins(0 0 0 -19px);
}
