.header
{
    @include paddings(13px 39px);
}
.hamburger
{
    height: 23px;
    width: 24px;
    @include margins(0 37px 0 0);
}
.logo
{
    height: 33px;
}
.nav
{
    & li:nth-child(2), & li:nth-child(3)
    {
        @include margins(0 0 0 41px);
        @include responsive(medium)
        {
            @include margins(0);
        }
    }
}
.m-12
{
    @include margins(0 0 0 12px);
}
.bell
{
    height: 24px;
    width:21px;
    @include margins( 0 0 0 72px);
    @include responsive(medium)
    {
        @include margins(0);
    }
}
.drop-down
{
    width: 0px;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $color-battle;
}